.main-title {
    font-family: "ABCDiatype Bold";
    font-size: var(--header-title);
    text-transform: uppercase;
    padding: 2px;
    bottom: var(--small-margin);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: -1;
}

.main-title:first-of-type {
    left: 0;
    text-align: center;
    padding-right: 0;
}

.main-title:last-of-type {
    right: 0;
    text-align: center;
    padding-left: 0;
}