.marquee {
    position: relative;
    width: 100vw;
    top: 0;
    left: 0;
    white-space: nowrap;
    stroke: var(--txt-color);
    stroke-width: 1px;
    stroke-miterlimit: 10;
    fill: none;
    -webkit-filter: drop-shadow(1px 1px 2px var(--blue));
    filter: drop-shadow(1px 1px 2px var(--blue));
}

.marquee:nth-child(1) {
    -webkit-animation: marquee1 2.5s linear infinite;
    animation: marquee1 2.5s linear infinite;
}

.marquee:nth-child(2) {
    -webkit-animation: marquee2 2.5s linear infinite;
    animation: marquee2 2.5s linear infinite;
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
}